@import "10-color.scss";
.search-box{
  padding: 20px 30px 0;
  &:after{
    display: block;
    content: "";
    clear: both;
  }
  .search-form-item{
    display: flex;
    float: left;
    width: 28%;
    margin-bottom: 20px;
    padding-right: 30px;
    label{
      height: 40px;
      line-height: 40px;
      white-space: nowrap;
    }
    .form-item-content{
      flex-grow: 1;
    }
  }
  .search-form-btn{
    float: left;
    width: 16%;
  }
  .el-select{
    width: 100%;
  }
}
.search-content{
  padding: 0 30px;
  .operate-box{
    margin-bottom: 25px;
    .el-button i{
      margin-right: 8px;
    }
  }
  .table-box{
    .pagination-box{
      padding: 25px 0;
      text-align: right;
    }
  }
}
@media screen and (max-width: 1380px) {
  .search-box{
    .search-form-item{
      width: 40%;
    }
    .search-form-btn{
      width: 20%;
    }
  }
}
